.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 575px) {
    padding-top: 20px;
  }
}
