.HeroContent {
  padding: 160px 0;

  div[class*='col'] {
    margin-top: 32px;

    &:first-child {
      @media (max-width: 991px) {
        order: 2;
      }
    }

    &:last-child {
      @media (max-width: 991px) {
        order: 1;
      }
    }
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    line-height: 1.25;
    color: var(--color-secondary);
    margin-bottom: 16px;

    @media (max-width: 991px) {
      text-align: center;
    }

    @media (max-width: 767px) {
      font-size: 3.063rem;
    }

    @media (max-width: 575px) {
      font-size: 1.938rem;
    }
  }

  &__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 48px;
    line-height: 1.5;

    @media (max-width: 991px) {
      text-align: center;
    }

    @media (max-width: 575px) {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  &__wrapperBtn {
    display: flex;
    justify-content: flex-start;

    .HeroContent__dowloadCv {
      padding: 14px 32px;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      color: var(--color-primary);
      background-color: var(--color-secondary);
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: var(--color-primary);
        border: 1px solid var(--color-secondary);
        color: var(--color-secondary);
      }
    }

    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  &__image {
    width: 100%;
  }

  @media (max-width: 991px) {
    height: auto;
    align-items: flex-start;
    padding: 64px 0 56px;
  }
}
