.HeroContent {
  position: relative;
  overflow: hidden;
  padding: 160px 0;
  height: 100vh;

  &__row {
    display: flex;
    align-items: center;
    margin-left: -32px;
    margin-right: -32px;

    .HeroContent__col {
      position: relative;
      padding: 0 16px;
      margin-top: 32px;

      .HeroContent__title {
        font-family: 'Inter', sans-serif;
        font-size: 72px;
        font-weight: bold;
        line-height: 1.25;
        color: var(--color-secondary);
        margin-bottom: 32px;
        max-width: 664px;

        @media (max-width: 991px) {
          text-align: center;
        }

        @media (max-width: 767px) {
          font-size: 61px;
        }

        @media (max-width: 575px) {
          font-size: 31px;
          margin-bottom: 16px;
        }
      }

      .HeroContent__text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 32px;
        line-height: 1.5;
        font-size: 20px;
        max-width: 664px;

        @media (max-width: 991px) {
          text-align: center;
        }

        @media (max-width: 575px) {
          font-size: 16px;
        }
      }

      .HeroContent__content {
        display: flex;
        justify-content: flex-start;

        .HeroContent__dowloadCv {
          padding: 16px 40px;
          font-size: 16px;
          font-family: 'Inter', sans-serif;
          font-weight: bold;
          color: var(--color-primary);
          background-color: var(--color-secondary);
          cursor: pointer;
          text-decoration: none;
          border-radius: 6px;

          &:hover {
            background-color: var(--color-primary);
            border: 1px solid var(--color-secondary);
            color: var(--color-secondary);
          }
        }

        @media (max-width: 991px) {
          justify-content: center;
        }
      }

      .HeroContent__contentCard {
        display: flex;
        position: relative;

        .HeroContent__card {
          position: relative;
          z-index: 2;
          background-color: #ffffff;
          padding: 48px 32px 64px;
          border-radius: 32px;
          margin: 0 auto;

          .HeroContent__cardTitle {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 24px;
          }

          .HeroContent__cardContainer {
            display: flex;

            .HeroContent__cardList {
              display: flex;
              flex-direction: column;
              gap: 16px;

              &:last-child {
                margin-left: 32px;
              }

              .HeroContent__cardItem {
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.25;
              }
            }
          }

          @media (max-width: 575px) {
            padding: 24px 24px 48px;
          }
        }

        .HeroContent__cardBackground {
          position: absolute;
          top: -6px;
          left: 20px;
          width: 100%;
          max-width: 370px;
          height: 100%;
          min-height: 410px;
          background-color: rgba($color: #b8fb3c, $alpha: 0.2);
          transform: rotate(8deg);
          z-index: 0;
          border-radius: 32px;

          @media (max-width: 575px) {
            padding: 24px 24px 48px;
            left: 24px;
            min-height: 370px;
          }
        }

        @media (max-width: 1199px) {
          margin-right: 0;
        }
      }

      &:last-child {
        margin: 0 auto;
      }

      @media (max-width: 991px) {
        &:first-child {
          order: 2;
          padding: 0;
        }

        &:last-child {
          order: 1;
          padding: 0;
        }
      }
    }

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 575px) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  @media (max-width: 991px) {
    height: auto;
    padding: 96px 0;
  }

  @media (max-width: 575px) {
    height: auto;
    padding: 96px 0 48px;
  }
}
