@import '../../Styles/utilities.scss';

.Skills {
  padding: 0 3.75rem;

  .Skills__wrapper {
    display: inline-block;

    &-title {
      position: relative;
      font-size: 2rem;
      color: $color--title;
      margin-bottom: 1rem;
      font-weight: bold;
      line-height: 1.75;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        bottom: -14px;
        border-bottom: 3px solid $color--third;
      }
    }
  }

  .Skills__col {
    display: flex;
    margin: 1rem auto;

    .Skills__card {
      flex: 1;
      padding: 1.5rem 1.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #e2e5f1;
      border-radius: 0.5rem;

      &-icon {
        font-size: 42px;
        color: $color--text;
        margin-bottom: 0.5rem;
      }

      .Skills__card-title {
        font-size: 1.25rem;
        font-weight: 800;
        color: $color--title;
      }

      .Skills__card-text {
        color: $color--text;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 0 1.5rem;
  }
}
