.Skills {
  padding-bottom: 32px;
  background-color: var(--color-secondary);

  div[class*='col'] {
    margin-top: 32px;
  }

  &__container {
    display: flex;
    align-items: center;

    .Skills__boxIcon {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-primary);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 16px;

      .Skills__icon {
        color: #ffffff;
        width: 32px;
        height: 32px;
      }

      @media (max-width: 767px) {
        margin-bottom: 12px;
      }
    }

    .Skills__title {
      color: var(--color-primary);
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      margin-bottom: 8px;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    .Skills__text {
      color: var(--color-primary);
      font-family: 'Inter', sans-serif;
      font-weight: 400;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  @media (max-width: 991px) {
    padding: 16px 0 48px;
  }
}
