.Navigation {
  position: relative;

  &__list {
    display: flex;
    align-items: center;

    .Navigation__item {
      position: relative;
      color: #ffffff;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      margin: 0 1rem;
      font-size: 1.125rem;
      cursor: pointer;
      white-space: nowrap;

      .Navigation__language {
        display: flex;
        align-items: center;

        .Navigation__flag {
          width: 32px;
          height: 32px;
        }

        .Navigation__text {
          margin: 0 0.5rem;
          line-height: 1;
        }

        .Navigation__boxIcon {
          display: flex;
          cursor: pointer;

          .Navigation__icon {
            color: var(--color-secondary);
            width: 24px;
            height: 24px;
          }
        }
      }

      &:hover {
        border-bottom: 1px solid var(--color-secondary);
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }
}
