@import '../../Styles/variables';

.WorkExperience {
  padding: 8rem 3.75rem;
  max-width: 1500px;

  .WorkExperience__wrapper {
    display: inline-block;

    .WorkExperience__title {
      position: relative;
      font-size: 2rem;
      line-height: 1;
      color: $color--title;
      margin-bottom: 1.75rem;
      font-weight: bold;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        bottom: -14px;
        border-bottom: 3px solid $color--third;
      }
    }
  }

  .WorkExperience__content {
    margin-top: 1rem;

    &-list {
      display: flex;
      flex-direction: column;

      .WorkExperience__list-item {
        display: flex;
        border-top: 1px solid #eeeeee;

        .WorkExperience__item-title {
          padding-top: 1rem;
          margin: 0 0.875rem;
          color: $color--title;
          font-size: 1.75rem;
          line-height: 1;
        }

        .WorkExperience__item-right {
          padding: 1rem;
          border-left: 1px solid #eeeeee;

          .WorkExperience__right-type {
            font-weight: 600;
            color: $color--title;
          }

          .WorkExperience__right-text {
            font-weight: 400;
            color: $color--text;
            margin-top: 0.5rem;
          }

          .WorkExperience__tecnologies {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;
            margin-left: -0.25rem;

            &-item {
              padding: 0.375rem 1rem;
              background-color: $color--third;
              border-radius: 6px;
              text-align: center;
              color: #ffffff;
              line-height: 1;
              margin: 0.5rem 0.25rem;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding: 5rem 1.5rem;
  }
}
