@import '../../index.scss';

.Hero {
  min-height: 100%;
  padding: 0 3.75rem;

  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    max-width: 1400px;

    .Hero__row {
      align-items: center;
      padding: 8rem 0;
      position: relative;
      margin: 0;

      .Hero__col {
        margin: 1rem auto;
        padding: 0 !important;

        .Hero__wrapper {
          margin-top: 3.5rem;

          &-subtitle {
            color: $color--text;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 0.75rem;

            .Hero__subtitle--name {
              color: $color--title;
              margin-left: 0.25rem;
            }

            @media (max-width: 991px) {
              text-align: center;
            }

            @media (max-width: 576px) {
              margin-bottom: 0.5rem;
              font-size: 0.875rem;
            }
          }

          &-title {
            font-size: 3.25rem;
            line-height: 1;
            color: $color--title;
            margin-bottom: 1.75rem;
            font-weight: bold;

            @media (max-width: 991px) {
              text-align: center;
            }

            @media (max-width: 576px) {
              font-size: 2rem;
              line-height: 1.25;
              margin-bottom: 1.25rem;
            }
          }

          &-presentation {
            font-weight: 500;
            line-height: 1.5;
            font-size: 1.25rem;
            color: $color--text;
            margin-bottom: 2.25rem;
            max-width: 460px;

            @media (max-width: 991px) {
              text-align: center;
              margin: 0 auto 2.25rem auto;
              max-width: 100%;
            }

            @media (max-width: 576px) {
              font-size: 1rem;
            }
          }

          &-btn {
            position: relative;

            .Hero__btn-curriculum {
              display: inline-block;
              position: relative;
              overflow: hidden;
              border: 1px solid $color--third;
              background-color: $color--third;
              padding: 0.5rem 1.5rem;
              font-size: 1rem;
              border-radius: 0.3rem;
              font-weight: 400;
              line-height: 1.5;
              cursor: pointer;
              text-transform: uppercase;
              text-decoration: none;
              color: $color--primary;
              transition: all 600ms cubic-bezier(0.37, 0, 0.63, 1);

              .Hero__curriculum-icon {
                position: relative;
                margin-left: 0.5rem;
              }

              &:hover {
                background-color: $color--primary;
                color: $color--third;
              }

              &:hover > .Hero__curriculum-icon {
                color: $color--third;
              }

              @media (max-width: 768px) {
                width: 100%;
                text-align: center;
              }
            }

            @media (max-width: 768px) {
              justify-content: flex-start;
            }

            @media (max-width: 991px) {
              display: flex;
              justify-content: center;
            }
          }

          @media (max-width: 768px) {
            margin-top: 2.75rem;
          }
        }

        .Hero__socialList {
          display: flex;
          align-items: center;
          margin-top: 2.25rem;

          &-item {
            cursor: pointer;

            .Hero__item-link {
              color: $color--secondary;
              font-size: 20px;
            }

            &:first-child {
              margin-right: 0.5rem;
            }

            &:hover {
              transform: scale(1.1);
            }
          }

          @media (max-width: 991px) {
            justify-content: center;
          }
        }

        @media (max-width: 991px) {
          &:first-child {
            order: 1;
          }

          &:last-child {
            order: 2;
          }
        }

        &:first-child {
          padding-left: 1rem !important;

          @media (max-width: 991px) {
            padding-left: 0;
          }
        }
      }

      @media (max-width: 991px) {
        padding: 5rem 0;
      }

      @media (max-width: 576px) {
        padding: 3.5rem 0;
      }
    }
  }

  @media (max-width: 991px) {
    height: auto;
    padding: 0 1.5rem;
  }
}
