.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  z-index: 100;

  &__container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 32px;

    .Header__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 575px) {
      padding: 0 16px;
    }
  }

  @media (max-width: 575px) {
    padding-top: 20px;
  }
}
