.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  z-index: 100;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -32px;
    margin-right: -32px;
  }

  .col {
    padding: 0 32px;
  }

  @media (max-width: 575px) {
    padding-top: 20px;
  }
}
