.Logo {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.Logo__variant {
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}
