@import '../../index.scss';

.About {
  position: relative;
  padding: 8rem 3.75rem;

  .About__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;

    .About__row {
      align-items: flex-start;
      justify-content: space-around;
      position: relative;
      margin: 0;

      .About__col {
        margin: 1rem auto;
        padding: 0 !important;

        .About__image {
          height: 100%;
          object-fit: cover;

          @media (max-width: 991px) {
            height: auto;
          }
        }

        .About__wrapper {
          margin-top: 0.75rem;

          &-topTitle {
            color: $color--third;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
            margin-top: 1rem;

            @media (max-width: 767px) {
              text-align: center;
            }
          }

          &-title {
            font-size: 3.25rem;
            line-height: 1.25;
            color: $color--title;
            margin-bottom: 1.75rem;
            font-weight: bold;

            @media (max-width: 991px) {
              font-size: 2.25rem;
            }

            @media (max-width: 767px) {
              text-align: center;
            }

            @media (max-width: 576px) {
              font-size: 2rem;
            }
          }

          &-subtitle {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 0.75em;
            color: $color--title;

            @media (max-width: 991px) {
              font-size: 1.25rem;
              margin-bottom: 1.5rem;
            }

            @media (max-width: 767px) {
              text-align: center;
            }

            @media (max-width: 576px) {
              font-size: 1.125rem;
            }
          }

          &-text {
            color: $color--text;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 2rem;
          }

          &-btn {
            display: inline-block;
            position: relative;
            overflow: hidden;
            border: 1px solid $color--third;
            background-color: $color--third;
            padding: 0.5rem 1.5rem;
            font-size: 1rem;
            border-radius: 0.3rem;
            font-weight: 400;
            line-height: 1.5;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            color: $color--primary;
            transition: all 600ms cubic-bezier(0.37, 0, 0.63, 1);

            .About__btn-icon {
              position: relative;
              margin-left: 0.5rem;
            }

            &:hover {
              background-color: $color--primary;
              color: $color--third;
            }

            &:hover > .About__btn-icon {
              color: $color--third;
            }

            @media (max-width: 767px) {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      align-items: flex-start;
      padding: 0;
    }
  }

  @media (max-width: 991px) {
    padding: 5rem 1.5rem;
  }

  @media (max-width: 576px) {
    padding: 3rem 1.5rem;
  }
}
