@import "./variables";

@mixin row() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

@mixin container {
  @each $breakpoints, $key in $breakpoints {
    @media (min-width: $key) {
      width: $key;
      margin: 0 auto;
    }
  }
}
