.Social {
  background-color: #fffffe;
  display: flex;
  align-items: center;

  .Social__container {
    padding: 2rem 0;

    .Social__row {
      @media (max-width: 991px) {
        flex-direction: column-reverse;
      }
    }

    .Social__content {
      display: flex;
      align-items: center;

      .Social__content__info {
        padding: 2rem 0;
        margin: 0 auto;

        h1 {
          font-family: "Quicksand", sans-serif;
          line-height: 1.25;
          color: #094067;

          @media (max-width: 576px) {
            font-size: 1.875rem;
            text-align: center;
          }
        }

        p {
          margin-top: 8px;
          font-family: "Varela", sans-serif;
          font-size: 1rem;
          line-height: 1.25;
          color: #5f6c7b;

          @media (max-width: 576px) {
            text-align: center;
          }
        }

        @media (min-width: 992px) and (max-width: 1300px) {
          padding: 2rem;
        }

        @media (max-width: 576px) {
          padding: 2rem 0;
        }
      }

      .Social__btn {
        margin-top: 24px;
        padding: 0.6125rem 1rem;
        border: 1px solid #3da9fc;
        background-color: #3da9fc;
        border-radius: 6px;
        cursor: pointer;
        color: white;
        font-size: 1rem;
        text-decoration: none;

        @media (max-width: 576px) {
          width: 100%;
        }
      }
    }

    .Social__image {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 992px) {
    min-height: 100vh;
  }
}
