@import '../../index.scss';

.Menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #f23333;
  overflow: hidden;
  z-index: 20;

  &__header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    z-index: 1;

    &-logo {
      display: flex;
      align-items: center;

      .Menu__logo-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .Menu__logo-title {
        margin-left: 0.5rem;
        font-weight: 600;
        font-size: 1rem;
        color: #ffffff;
      }
    }

    .Menu__close {
      display: flex;
      cursor: pointer;
    }

    .Menu__close-icon {
      font-size: 32px;
      color: #ffffff;
    }
  }

  .Menu__nav {
    position: relative;
    display: block;
    height: 100%;

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .Menu__list-item {
        width: 360px;
        padding: 1rem 0;
        border-bottom: 1px solid #ffffff;

        .Menu__item-link {
          font-size: 2rem;
          color: transparent;
          -webkit-text-stroke: 1px #ffffff;
          font-weight: bold;
          cursor: pointer;

          &:active {
            color: #ffffff;
            transition: all 500ms ease-in;
          }
        }
      }
    }
  }
}

/* animation */
.menuAnimation-enter {
  max-height: 0;
}

.menuAnimation-enter-done {
  max-height: 400px;
  transition: max-height 500ms;
}

.menuAnimation-exit {
  max-height: 400px;
}

.menuAnimation-exit-active {
  max-height: 0;
  transition: max-height 600ms;
}
