.Contact {
  background-image: url("../../assets/Image/Contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  min-height: 100vh;

  .Contact__container {
    @media (max-width: 991px) {
      width: 100% !important;
    }
  }

  .Contact__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    h1 {
      font-family: "Quicksand", sans-serif;
      color: #fffffe;
      text-align: center;

      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    p {
      color: #fffffe;
      margin-top: 6px;
      font-family: "Varela", sans-serif;
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
    }

    .Contact__btn {
      width: 100%;
      margin-top: 24px;
      padding: 0.6125rem 1rem;
      border: 1px solid #3da9fc;
      background-color: #3da9fc;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1rem;

      a {
        text-decoration: none;
        color: #fffffe;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    @media (max-width: 991px) {
      width: 100%;
      max-width: 560px;
    }

    @media (max-width: 576px) {
      left: 0;
      transform: translate(0, -50%);
      max-width: none;
    }
  }

  .Contact__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
