@import '../../index.scss';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  &--active {
    background-color: #ffffff;
    transition: all 600ms cubic-bezier(0.61, 1, 0.88, 1);
  }

  .Header__wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.75rem;

    .Header__logo {
      display: flex;
      align-items: center;

      &-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      &-title {
        margin-left: 0.5rem;
        font-weight: 600;
        font-size: 1rem;
        color: $color--title;
      }
    }

    .Header__nav {
      position: relative;

      &-list {
        display: flex;
        align-items: center;

        .Header__list-item {
          padding: 0 0.875rem;
          line-height: 1.5;
          cursor: pointer;
          color: $color--text;

          &:hover {
            border-bottom: 3px solid $color--third;
          }
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .Header__menu {
      display: none;

      &-icon {
        font-size: 22px;
        color: $color--third;
      }

      @media (max-width: 768px) {
        display: flex;
        cursor: pointer;
      }
    }

    @media (max-width: 991px) {
      padding: 1rem 1.5rem;
    }
  }
}
