@import '../../Styles/variables';

.Footer {
  display: flex;
  flex-direction: column;
  padding: 0 3.75rem 2rem 3.75rem;
  max-width: 1500px;
  margin: 0 auto;

  &__over {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid #bdbdbd;

    .Footer__over-logo {
      width: 160px;
      object-position: -16px;

      @media (max-width: 576px) {
        object-position: 0;
      }
    }

    .Footer__languages {
      display: flex;

      .Footer__languages-ita {
        padding: 0.375rem 1rem;
        cursor: pointer;
        color: $color--title;

        &:hover {
          background-color: $color--third;
          color: #ffffff;
          border-radius: 6px;
        }
      }

      .Footer__languages-eng {
        padding: 0.375rem 1rem;
        cursor: pointer;
        color: $color--title;

        &:hover {
          background-color: $color--third;
          color: #ffffff;
          border-radius: 6px;
        }
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0.5rem;
    }
  }

  &__under {
    margin-top: 1rem;

    .Footer__under-text {
      color: $color--text;
      font-size: 0.75rem;
    }
  }

  @media (max-width: 991px) {
    padding: 0 1.5rem 2rem 1.5rem;
  }
}
