.BookImage {
  padding: 3rem 0 1rem 0;
  margin: 1rem 0;

  .BookImage__content {
    width: 100%;
    margin: 10px 0;
  }
}

.BookImage__content__image {
  display: flex;
  min-height: 460px;
  padding: 0 16px;

  img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
  }
}

.image--3 {
  margin: 10px 0;
}

.image--4 {
  margin: 10px 0;
}
