.Dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  margin-top: 16px;
  background-color: var(--color-bg);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--color-primary);

  &__content {
    display: flex;
    align-items: center;

    .Dropdown__flag {
      width: 32px;
      height: 32px;
    }

    .Dropdown__text {
      color: var(--color-title);
      margin-left: 8px;
      line-height: 1;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
