@import './Styles/variables';
@import './Styles/utilities.scss';


html,
body,
#root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  vertical-align: middle;
}
