.Projects {
  padding-bottom: 120px;

  div[class*='col'] {
    @media (max-width: 575px) {
      padding: 0 16px;
    }
  }

  &__card {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 32px;
    background-color: var(--color-secondary);

    .Projects__left {
      padding: 48px;
      width: 60%;

      .Projects__title {
        color: #001437;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        margin-bottom: 16px;
        line-height: 1.2;
        font-size: 49px;

        @media (max-width: 575px) {
          font-size: 31px;
          text-align: center;
        }
      }

      .Projects__text {
        color: #000814;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        margin-bottom: 32px;
        line-height: 1.5;
        font-size: 20px;

        @media (max-width: 575px) {
          text-align: center;
        }
      }

      .Projects__wrapperBtn {
        display: flex;
        justify-content: flex-start;

        .Projects__btn {
          padding: 16px 48px;
          border-radius: 32px;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          text-decoration: none;
          color: var(--color-secondary);
          background-color: var(--color-primary);

          &:hover {
            background-color: var(--color-secondary);
            border: 1px solid var(--color-primary);
            color: var(--color-primary);
          }
        }

        @media (max-width: 575px) {
          justify-content: center;
        }
      }

      @media (max-width: 991px) {
        order: 2;
        width: 100%;
        margin-top: 48px;
        padding: 0 48px 48px;
      }

      @media (max-width: 575px) {
        padding: 0 16px 32px;
      }
    }

    .Projects__right {
      display: flex;
      width: 40%;

      .Projects__image {
        object-fit: cover;

        @media (max-width: 991px) {
          width: 100%;
          height: 420px;
        }

        @media (max-width: 575px) {
          height: 320px;
        }
      }

      @media (max-width: 991px) {
        order: 1;
        width: 100%;
      }
    }

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  @media (max-width: 575px) {
    padding: 32px 0;
  }
}
