@import './variables';
@import './gridSystem';

/* reset */
html,
body {
  background-color: var(--color-bg);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 3.813rem;
}

h2 {
  font-size: 3.063rem;
}

h3 {
  font-size: 2.438rem;
}

h4 {
  font-size: 1.938rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  align-items: center;
}
