@import './variables';

/* container */
.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;

  @media (max-width: 991px) {
    max-width: 770px;
  }

  @media (max-width: 575px) {
    max-width: 100%;
  }
}

/* row */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-right: -32px;

  @media (max-width: 991px) {
    justify-content: center;
  }
}

/* column creation */
@each $property, $key in $breakpoints {
  @for $i from 1 through $columns {
    @media (min-width: $key) {
      .col-#{$property}-#{$i} {
        width: (100% / $columns) * $i;
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }
}
